<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Linux之家首页</title>
<link href="__PUBLIC__/css/main.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/huan.js"></script>
</head>
<body>
<div class="zhengti">
  <!-- top -->
  <div class="top fl">
    <div class="toplogo fl">
      <h1><a href="http://www.linuxhome.org.cn" target="_blank">linux</a></h1>
    </div>
    <div class="top1 fl">
      <div class="top1_1 fl">
        <input name="keyword" type="text" id="keyword" class="kw1" value=""/>
        <select name="searchtype" id="searchtype" class="kw3" style='width:120px'>
          <option value="titlekeyword">内容搜索</option>
          <option value="title">主题搜索</option>
        </select>
        <input name="imageField" type="submit" class="kw2" value="" />
      </div>
    </div>
    <div class="top2 fl">
      <iframe width="296" scrolling="no" height="60" frameborder="0" src="__PUBLIC__/ad/topad.html"></iframe>
    </div>
  </div>
  <!-- top -->
  <div></div>
  <!-- nav -->
  <div class="nav fl">
    <div class="nav1 fl"></div>
    <div class="nav2 fl">
      <ul>
        <li><a href="#">首页</a></li>
        <li><a href="#">linux新闻</a></li>
        <li><a href="#">linux入门</a></li>
        <li><a href="#">系统管理</a></li>
        <li><a href="#">桌面应用</a></li>
        <li><a href="#">教程下载</a></li>
        <li><a href="#">linux集群</a></li>
        <li><a href="#">编程开发</a></li>
        <li><a href="#">linux数据库</a></li>
        <li><a href="#">linux电子书</a></li>
        <li><a href="#">linux安全</a></li>
        <li><a class="nobd" href="#">其他UNIX</a></li>
      </ul>
    </div>
    <div class="nav3 fl"></div>
  </div>
  <!-- nav -->
  <div></div>
  <!-- tops -->
  <div class="tops fl">
    <p>linuxhome(linux之家)致力服务于中国linux事业，如果您喜欢linux，喜欢linuxhome就跟我一起把linuxhome做的更强大!</p>
  </div>
  <!-- tops -->
  <div></div>
   <!-- ad -->
  <div class="list fl"><iframe width="960" scrolling="no" height="90" frameborder="0" src="__PUBLIC__/ad/quanding.html"></iframe></div>
  <!-- ad -->
  <div></div>
  <!-- ia -->
  <div class="ia fl">
    <div class="iaz fl">
      <div class="ia1 fl">
        <div class="ia1sw"></div>
        <div class="ia1sw1">
          <!-- slider -->
          <div class="sliderwrapper" id="slider">
            <div class="contentdiv" style="display: block; opacity: 1; visibility: visible;"><a href="index.html"><img id="adpic" alt="Sample1" src="__PUBLIC__/swfimg/image1.jpg"/></a></div>
            <div class="contentdiv" style="display: none; opacity: 1; visibility: visible;"><a href="index.html"><img alt="Sample2" src="__PUBLIC__/swfimg/image2.jpg"/></a></div>
            <div class="contentdiv" style="display: none; opacity: 1; visibility: visible;"><a href="index.html"><img alt="Sample3" src="__PUBLIC__/swfimg/image3.jpg"/></a></div>
            <div class="contentdiv" style="display: none; opacity: 1; visibility: visible;"><a href="index.html"><img alt="Sample4" src="__PUBLIC__/swfimg/image4.jpg"/></a></div>
            <div class="contentdiv" style="display: none; opacity: 1; visibility: visible;"><a href="index.html"><img alt="Sample5" src="__PUBLIC__/swfimg/image5.jpg"/></a></div>
          </div>
          <!-- -->
          <div class="pagination" id="paginate-slider"><a class="toc selected" href="#" rel="1">1</a> <a class="toc anotherclass" href="#" rel="2">2</a> <a class="toc" href="#l" rel="3">3</a> <a class="toc" href="#4" rel="4">4</a> <a class="toc" href="#5" rel="5">5</a> </div>
          <!-- -->
          <script type="text/javascript">
featuredcontentslider.init({
id: "slider",
contentsource: ["inline", ""],
revealtype: "mouseover",
enablefade: [true, 0.2],
autorotate: [true, 3000],
onChange: function(previndex, curindex){}
})

</script>
          <!-- slider -->
        </div>
      </div>
      <div class="ia2 fl">
        <h2>热门TAG&raquo;</h2>
        <div class="ia21 fl"> <a href="#" class="hong">linux教程</a> <a href="#" class="hei">linux下载</a> <a href="#" class="dhei">linux下的QQ</a> <a href="#" class="xhei">linux视频教程</a> <a href="#" class="hong">Linux服务器</a> <a href="#" class="lv">搭建LinuxWEB服务器</a> <a href="#" class="dhei">Linux集群</a> <a href="#" class="lv">桌面应用全集</a> <a href="#" class="hong">Linux下开发工具</a> <a href="#" class="xhei">服务器搭建</a> <a href="#" class="hong">linux</a> </div>
      </div>
    </div>
    <div class="iay fr">
      <div class="iay1 fl">
        <h1><a href="#">linux之家全新改版啦</a></h1>
        <p>改版啦改版啦改版啦改版啦改版啦改版啦改版啦改版啦改版啦改版啦改版啦改版啦改版啦改版啦改版啦改版啦改版啦改版啦改版啦改版啦改版啦改版啦改版啦改版啦改版啦改版啦改版啦改版啦改版啦改版啦改版啦改版啦</p>
      </div>
      <div class="iay2 fl glk">
        <ul>
          <li><a href="#">Linux改版啦该版了</a></li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
        </ul>
      </div>
    </div>
    <div class="adin1 fl mt5">
      <iframe width="736" scrolling="no" height="90" frameborder="0" src="__PUBLIC__/ad/index2.html"></iframe>
    </div>
    <div class="iaq1 fl mt5">
      <div class="iaq11 fl">
        <p>Linux入门</p>
      </div>
      <div class="iaq12 fl glk">
        <ul>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
        </ul>
      </div>
    </div>
    <div class="iaq1 fl mt5">
      <div class="iaq11 fl">
        <p>Linux系统管理</p>
      </div>
      <div class="iaq12 fl glk">
        <ul>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
        </ul>
      </div>
    </div>
    <div class="adin1 fl mt5">
      <iframe width="736" scrolling="no" height="90" frameborder="0" src="__PUBLIC__/ad/index3.html"></iframe>
    </div>
    <div class="iaq1 fl mt5">
      <div class="iaq11 fl">
        <p>Linux桌面应用</p>
      </div>
      <div class="iaq12 fl glk">
        <ul>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
        </ul>
      </div>
    </div>
    <div class="iaq1 fl mt5">
      <div class="iaq11 fl">
        <p>Linux教程下载</p>
      </div>
      <div class="iaq12 fl glk">
        <ul>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
        </ul>
      </div>
    </div>
    <div class="adin1 fl mt5">
      <iframe width="736" scrolling="no" height="90" frameborder="0" src="__PUBLIC__/ad/index4.html"></iframe>
    </div>
    <div class="iaq1 fl mt5">
      <div class="iaq11 fl">
        <p>Linux集群</p>
      </div>
      <div class="iaq12 fl glk">
        <ul>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- ia -->
  <div></div>
  <!-- iy -->
  <div class="iy fr">
    <div class="iy1 fl mt5">
      <div class="iy11 fl">
        <p>编程开发222</p>
        <span><a class="bai" href="#">更多</a>&raquo;</span> </div>
      <div class="iy12 fl glk">
        <ul>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
        </ul>
      </div>
    </div>
    <div class="iy1 fl mt5">
      <div class="iy11 fl">
        <p>Linux数据库</p>
        <span><a class="bai" href="#">更多</a>&raquo;</span> </div>
      <div class="iy12 fl glk">
        <ul>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
        </ul>
      </div>
    </div>
    <div class="adin2 fl mt5"></div>
    <div class="iy1 fl mt5">
      <div class="iy11 fl">
        <p>Linux电子书</p>
        <span><a class="bai" href="#">更多</a>&raquo;</span> </div>
      <div class="iy12 fl glk">
        <ul>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
        </ul>
      </div>
    </div>
    <div class="iy1 fl mt5">
      <div class="iy11 fl">
        <p>Linux安全</p>
        <span><a class="bai" href="#">更多</a>&raquo;</span> </div>
      <div class="iy12 fl glk">
        <ul>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
          <li>Linux改版啦该版了</li>
        </ul>
      </div>
    </div>
    <div class="iy11 mt5 fl">
      <p>Linux安全</p>
      <span><a class="bai" href="#">更多</a>&raquo;</span> </div>
    <div class="iy3 fl glk">
      <ul>
        <li>Linux改版啦该版了</li>
        <li>Linux改版啦该版了</li>
        <li>Linux改版啦该版了</li>
        <li>Linux改版啦该版了</li>
        <li>Linux改版啦该版了</li>
        <li>Linux改版啦该版了</li>
        <li>Linux改版啦该版了</li>
        <li>Linux改版啦该版了</li>
        <li>Linux改版啦该版了</li>
      </ul>
    </div>
  </div>
  <!-- iy -->
  <div></div>
  <!-- dibu -->
  <div class="adb fl mt5">
    <div class="adb1 fl"></div>
    <div class="adb2 fl">
      <div class="adb21 fl">
        <p>友情链接 Links</p>
      </div>
      <div class="adb22 fl glk">
        <p><a href="#">Linux之家</a></p>
        <p>百度</p>
      </div>
    </div>
    <div class="adb3 fl"></div>
  </div>
  <!-- dibu -->
  <div></div>
  <!-- foot -->
  <div class="foot fl mt5">
    <p><a href="http://www.linuxhome.org.cn/" target="_blank">Linux之家</a><a href="http://www.linuxhome.org.cn/data/about.html" target="_blank">关于我们</a><a href="http://www.linuxhome.org.cn/data/ad.html" target="_blank">广告服务</a><a href="http://www.linuxhome.org.cn/plus/flink.php" target="_blank">友情链接</a><a href="http://www.linuxhome.org.cn/data/lianxi.html" target="_blank">联系我们</a><a href="http://www.linuxhome.org.cn/data/sitemap.html" target="_blank">网站地图</a><a href="#">加入收藏</a></p>
    <p>Copyright &copy; <a href="#">Linuxhome</a> 2009 <a href="#">linuxhome.org.cn</a> All Rights Reserved. </p>
  </div>
  <!-- foot -->
</div>
</body>
</html>
